<!DOCTYPE html>
<html>
	<head>
		<title>My fucking elevator</title>
		<script src="/res/js/jquery-2.0.3.min.js"></script>
		<script src="/res/js/jquery.pjax.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/res/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="/res/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="/res/js/bootstrap.min.js"></script>
		<script src="/res/js/elevator.js"></script>
	</head>
	<body style="padding: 8px;">
		<div class="container-liquid">
			<div class="row">
				<div class="col-lg-3">
					<iframe src="http://elevator-battle.ybonnel.eu.cloudbees.net/#/battle/tbruyelle/-"
						height="1800"
						width="100%"
						>
					</iframe>
				</div>
				<div class="col-lg-9" id="pjax-container">
					{{template "dashboard" .}}
				</div>
			</div>
		</div>
	</body>
</html>
